* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black-color: rgb(0, 0, 0);
    --orange-color: orange;
    --white-color: white;

}

body {
    width: 100%;
}

nav {
    width: 100%;
    background-color: var(--black-color);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

nav ul li {
    padding: 1em;
}

nav ul li:hover {
    background-color: var(--white-color);
}

nav ul li:hover a{
    color: var(--black-color);
}

nav ul li a {
 color: var(--orange-color);
 text-decoration: none;
}

