* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    width: 80%;
    margin-left: 20%;
    margin-top: 6rem;
    min-height: 1800px;
    padding: 1em;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 3rem;
    z-index: 1000;
}

header div:last-of-type{
    margin-left: auto;
}

header div:first-of-type{
    margin-right: auto;
}

header div p {
    padding: 1.3em;
}

header form input {
    padding: .3em;
    border: 1px solid white;
    border-radius: 10px;
}

header a {
    color: white;
}

header p:hover {
    background-color: white;
    color: black;
}

header img {
    border-radius: 50%;
}

header .search {
    padding: 0 .8em;
}

header img {
    margin: 1em;
}

nav {
    width: 100%;
    background-color: #0fab72;
    color:  white;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    overflow-x: hidden;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
}

nav ul li {
    padding: .5em 2em;
    
}

nav ul a {
    color: white;
}

nav ul li:hover {
    background-color: red;
}


.sidebar {
    width: 20%;
    background-color: rgb(229, 229, 231);
    overflow-y: scroll;
    position: fixed;
    top: 6rem;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.sidebar p, .sidebar h1 {
    padding: 1em;
}

.sidebar p:hover {
    background-color: green;
}


.left{
left: 0;
visibility: hidden;
position: fixed;
}

.right {
right: 0;
position: fixed;

}