* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(255, 77, 0);
    --white-color: #ffffff;
    --content-padding: 1em
}

body {
    background-color: #F8F9FA;
    color: #343A40;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: rgb(255, 77, 0);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: var(--content-padding);
    position: relative;
}

a {
    text-decoration: none;
    font-family: 'Buenard';
    
}

.navbar  a {
    color: var(--white-color);
    font-size: 1.2rem;
}

.navlinks a {
    margin: 0 .5em;
}

.navlinks a:hover {
    border-bottom: 2px solid var(--white-color);
}



.navbar .search {
    display: flex;
    justify-items: center;
    align-items: center;
}

.navbar .search input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}


.navbar .search button {
    border: none;
    padding: 2px 3px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar .search-button-mobile {
    display: none;
    padding: 3px 3px;
    border-radius: 50%;
    background-color: var(--white-color);
}

.navbar .search-mobile-container {
    display: none;
    width: 100%;
    z-index: 101;
    position: absolute;
}

.navbar .search-mobile {
    display: flex;
    justify-items: center;
    align-items: center;display: flex;
    justify-items: center;
    align-items: center;
}

.navbar .search-mobile input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}


@media (max-width: 1000px) {
    .navbar .search-container {
        display: none;
    }

    .navbar .search-button-mobile {
        display: flex;
    }
}

