.navbar-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: green;
    color: white;
}

.navbar {
display: flex;
overflow-x: hidden;
transition: transform 0.3s ease;
}

.nav-item {
padding: 10px 20px;
}

.nav-item:hover {
    background-color: white;
    color: black;
}

.nav-button {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: rgb(49, 120, 49);
color: white;
border: none;
cursor: pointer;
font-size: 1.5rem;
z-index: 999;
}

.left-button {
left: 0;
visibility: hidden;
}

.right-button {
right: 0;
}